<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <center>
    <h1>signup</h1>
    {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    <form method="POST" action="/BlogNewsApp/saveuser">
        {% csrf_token %}
        <table>
            <tr>
                    <td></td>
        {{form.as_table}}
            <td><input type="submit" value="Signup"></td>
            </tr>
            </table>
    </form>
        </center>

</body>
</html>